<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                {% if user.groups.all.0.name == 'admin' or user.groups.all.0.name == 'stockist' %}
                <div class="sb-sidenav-menu-heading">Home</div>
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <div class="sb-nav-link-icon"><i class="fab fa-dashcube"></i></div>Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">User</div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-plus-circle"></i></div>
                    Create
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        {% if user.groups.all.0.name == 'admin' %}
                        <a class="nav-link" href="{% url 'create' category='stockist' %}">Create Stockist</a>
                        {% endif %}
                        <a class="nav-link" href="{% url 'create' category='retailer' %}">Create Retailer</a>
                    </nav>
                </div>
                {% if user.groups.all.0.name == 'admin' %}
                <a class="nav-link" href="{% url 'rtlprofile'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-id-card"></i></div>
                    Retailer Profile
                </a>
                {% endif %}
                <a class="nav-link" href="{% url 'blockuser'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-lock"></i></div>
                    Terminal Blocking
                </a>
                <!-- <div class="sb-sidenav-menu-heading">Transaction</div> -->
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsTransaction"
                    aria-expanded="false" aria-controls="collapseLayoutsTransaction">
                    <div class="sb-nav-link-icon"><i class="fas fa-coins"></i></div>
                    Grant Tokens
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsTransaction" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        {% if user.groups.all.0.name == 'admin' %}
                        <a class="nav-link" href="{% url 'create' category='stockist' %}">Issue to Stockist</a>
                        {% endif %}
                        <a class="nav-link" href="{% url 'create' category='retailer' %}">Issue to Retailer</a>
                    </nav>
                </div> -->
                <a class="nav-link" href="{% url 'granttoken'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-coins"></i></div>
                    Grant Tokens
                </a>
                {% endif %}
                {% if user.groups.all.0.name == 'retailer' %}
                <div class="sb-sidenav-menu-heading">Games</div>
                <a class="nav-link" href="{% url 'gameconsole'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-gamepad"></i></div>
                    Play
                </a>
                {% endif %}
                <div class="sb-sidenav-menu-heading">Reports</div>
                {% if user.groups.all.0.name == 'admin' or user.groups.all.0.name == 'stockist' %}
                <a class="nav-link" href="{% url 'userinfo'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    User Info
                </a>
                {% endif %}
                <a class="nav-link" href="{% url 'transactionlog'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                    Transaction Logs
                </a>
                {% if user.groups.all.0.name == 'admin' or user.groups.all.0.name == 'stockist' %}
                <a class="nav-link" href="{% url 'gameresult'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Game Result
                </a>
                <a class="nav-link" href="{% url 'gameearning'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-rupee-sign"></i></div>
                    Game Earning
                </a>
                {% endif %}
                {% if user.groups.all.0.name == 'retailer' %}
                <a class="nav-link" href="{% url 'gameearning'%}">
                    <div class="sb-nav-link-icon"><i class="fas fa-history"></i></div>
                    Game Result History
                </a>
                {% endif %}
                
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Pages
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth"
                            aria-expanded="false" aria-controls="pagesCollapseAuth">Authentication
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a
                                    class="nav-link" href="register.html">Register</a><a class="nav-link"
                                    href="password.html">Forgot Password</a></nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError"
                            aria-expanded="false" aria-controls="pagesCollapseError">Error
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401
                                    Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link"
                                    href="500.html">500 Page</a></nav>
                        </div>
                    </nav>
                </div> -->
                <!-- <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tables
                </a> -->
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Login time:</div>
            {{request.user.last_login}}
        </div>
    </nav>
</div>